.list {
   display: flex;
   justify-items: flex-start;
   align-items: center;
}

li {
   margin-right: 1rem;
   list-style: none;
   cursor: pointer;
   background-color: var(--bg);
   padding: 0.5rem 1.2rem;
   border-radius: 2rem;
}

.active {
   background-color: var(--black);
   color: var(--white);
}
