.categories__list {
   display: flex;
   justify-items: flex-start;
   align-items: center;
   flex-wrap: wrap;
}

.item {
   margin-right: 1rem;
   margin-bottom: 1rem;
   background-color: var(--bg);
   padding: 0.5rem 1.2rem;
   border-radius: 2rem;
   transition: all 0.3s ease;

   &:hover {
      background-color: #d5d5d5;
   }
}

.active {
   margin-right: 1rem;
   margin-bottom: 1rem;
   padding: 0.5rem 1.2rem;
   border-radius: 2rem;
   background-color: var(--black);
   color: var(--white);
   transition: all 0.3s ease;
}
