.wrapper {
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.logo {
   h1 {
      font-size: 30px;
      text-transform: uppercase;
      line-height: 2rem;
      cursor: pointer;
   }
}

.cart_container {
   background-color: var(--primaryBlue);
   padding: 0.8rem 1.2rem;
   border-radius: 2rem;
}

.cart {
   display: flex;
   flex-direction: row;
   align-items: center;
   font-size: 16px;
   font-weight: 500;
   color: var(--white);

   .separator {
      padding: 0.3rem;
      border-left: 1px solid white;
      height: 1rem;
      margin-left: 10px;
      opacity: 40%;
   }
   .icon {
      margin-right: 3px;
   }
}

.search__form {
   border: 1px solid #d2d2d2;
   padding: 0.4rem;
   border-radius: 0.3rem;
   width: 25rem;
   display: flex;
   align-items: center;
   margin: 2rem 1rem;

   .search__wrapper {
      display: flex;
      align-items: center;
      width: 100%;

      .input {
         outline: 2px solid transparent;
         border: transparent;
         width: 100%;
      }

      .icon {
         color: #d2d2d2;
         margin: 0 0.4rem;
         font-size: 20px;
      }
   }

   .search__button {
      padding: 0.6rem 1.5rem;
      background-color: var(--bg);
      border: none;
      color: var(--black);
      border-radius: 0.5rem;
      font-weight: 500;
      cursor: pointer;
      transition: all 0.3s ease;

      &:hover {
         background-color: #d5d5d5;
      }
   }
}

.divider {
   opacity: 20%;
   width: 100%;
   margin-top: 1rem;
}

@media (max-width: 768px) {
   .wrapper {
      flex-direction: column;
   }

   .search__form {
      width: 100%;
   }
}
