.sort__container {
   position: relative;
   min-width: 241px;
}

.sort__label {
   display: flex;
   align-items: center;
   margin-bottom: 1rem;
   > * {
      margin-left: 0.3rem;
   }
   p {
      font-weight: 500;
   }
   span {
      border-bottom: 1px dashed var(--primaryBlue);
      color: var(--primaryBlue);
      cursor: pointer;

      &:hover {
         color: #007bd3;
      }
   }
}

.sort__popup {
   background: var(--white);
   border-radius: 10px;
   box-shadow: 0 5px 15px rgba(0, 0, 0, 0.145);
   position: absolute;
   right: 0;

   li {
      width: 100%;
      padding: 1rem 1.4rem;
   }

   .active {
      background: rgba(30, 112, 254, 0.05);
      width: 100%;
      color: var(--primaryBlue);
      font-weight: 600;
   }
}

@media (max-width: 768px) {
   .sort__container {
      margin: 2rem 0;
   }
}
